@import './theme.styl'

.app
  position absolute
  left 0
  top 0
  right 0
  bottom 0
  font-size px2rem(24)

.wrap-1
  width px2rem(960)
  height px2rem(540)
  background #ccc
  border px2rem(1) solid red

.wrap-2
  margin px2rem(20) 0 0 0
  width px2rem(480)
  height px2rem(270)
  background #ccc