@font-face 
    font-family 'Roboto-light'
    src url('./fronts/Roboto-Light.eot')
    src url('./fronts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('./fronts/Roboto-Light.woff2') format('woff2'),
        url('./fronts/Roboto-Light.woff') format('woff'),
        url('./fronts/Roboto-Light.ttf') format('truetype'),
        url('./fronts/Roboto-Light.svg#Roboto-Light') format('svg')
    font-weight 300
    font-style normal
